* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

header {
  border-bottom: solid gray 4px;
}

main {
  background-color: rgb(153,153,153);
  height: 100%;
}

.intro-chunk {
  margin: auto;
  max-width: 50%;
  padding: 0 20px;
}

header p {
  margin: 2rem 0;
}

strong {
  color: green;
}

.title {
  font-size: 1.25rem;
  margin-top: 4rem;
}

.max-width-wrapper {
  padding-top: 2rem;
}

.card {
  background-color: white;
  border-bottom: 4px solid rgb(102,102,102);
  margin: auto;
  max-width: 50%;
  padding-top: 5px;
}

.card h2 {
  background-color: rgb(246,194,67);
  font-size: 1rem;
  padding: 10px 30px;
  border-bottom: 4px solid rgb(197, 154,	51);
  margin: 0 20px 0 -10px;
  width: -moz-fit-content;
  width: fit-content;
}

.card p {
  font-size: 0.85rem;
  margin: 20px;
}
